.education-container
{
    display: flex; 
    justify-content: flex-start;

    width: 100vw;
    min-height: 100vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    
    background-image: url("../images/other/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@media screen 
{
    @media (min-width: 700px)
    {
        .vertical-timeline-element-date
        {
            color: #FFFFFF;
        }
    }
}