.about-me
{
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    gap: 7.5vh;

    width: 100vw;
    height: 93vh;
    padding-left: 12.5vw;

    background-image: url("../images/other/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.about-me .content 
{
    .social-icons
    {
        display: flex;
        flex-direction: row;
        gap: 40px;

        .svg-icon
        {
            transform: scale(1.5);
        }

        a
        {
            color: #FFFFFF;
        }    
        
        .svg-icon:hover
        {
            transform: scale(2);
        }
    }

    h1
    {
        margin: 1rem 0;

        font-size: 5rem;
        color: #FFFFFF;
    }

    p
    {
        margin: 0;

        font-size: 1.5rem;
        color: #FFFFFF;
    }
}

.about-me .profile-image
{
    img
    {
        width: 15vw;
        height: auto;

        border-radius: 100%;
    }
}

@media screen 
{
    @media (max-width: 700px)
    {
        .about-me
        {
            flex-direction: column;
            justify-content: center;
            padding: 0;
        }

        .about-me .content 
        {
            text-align: center;

            .social-icons
            {
                justify-content: center;
            }

            h1
            {
                margin: 1rem 0;

                font-size: 2rem;
                color: #FFFFFF;
            }

            p
            {
                margin: 0;

                font-size: 1.5rem;
                color: #FFFFFF;
            }
        }

        .about-me .profile-image
        {
            img
            {
                width: 50vw;
                height: auto;
                
                border-radius: 100%;
            }
        }
    }
}