.timeline-entry
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    height: auto;
    border: 2px solid #FFFFFF;
    padding: 1rem;

    h1 
    {
        margin: 0;
        padding: 0;
    }

    h2 
    {
        margin: 0;
        padding: 0;
    }

    p 
    {
        margin: 0;
        padding: 0;
    }
}

